@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="email"],
input[type="text"],
select:focus,
textarea {
  font-size: 16px;
  outline: none;
  box-shadow: none;
}

input[type="button"]:focus,
input[type="submit"]:focus {
  outline: none;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #04080f;
}

html {
  font-size: 16px;
}